/* 全局属性css样式调整 */
:root {
    --valid-color: green;
    --invalid-color: red;
    --info-message: rgb(101, 168, 206);
    --error-message:rgba(167, 34, 34,0.3);
    --warning-message: rgba(167, 152, 34, 0.3);
    
    --bord-color:#fff;
    --text-color:#fff;
    --web-color: rgb(30,30,30);
    --font-weight:bolder;
    --font-famliy:Arial, Helvetica, sans-serif;
    --header-color:rgb(12, 75, 51);
    --headerbottom-color:rgb(24, 127, 88);
    --footer-color:rgb(24, 127, 88);
    --footerbottom-color:rgb(12, 75, 51);
    --font-size:15px;
}

* {
  margin: 0;
  color:var(--text-color);
  padding: 0;
  font-family: var(--font-famliy);
  color:#fff;
}




