<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.notice.demo.mapper.noticeMapper">
    <insert id="insertNotice">
        INSERT INTO notice(title, content, type, user_id, create_time, update_time, status)
        VALUES(#{title}, #{content}, #{type}, #{userId}, #{createTime}, #{updateTime}, #{status})
    </insert>

    <select id="selectNoticeByTitleAndType" resultType="com.notice.demo.pojo.vo.NoticeListVO">
        SELECT
        id,
        title,
        create_time as createTime,
        type,
        status,
        user_id as userId
        FROM notice
        <where>
            <if test="title!=null and title!=''">
                AND title like CONCAT('%',#{title},'%')
            </if>
            <if test="type!=null">
                AND type=#{type}
            </if>
        </where>
    </select>

    <select id="selectNoticeById" resultType="com.notice.demo.pojo.vo.NoticeDetailInfoVO">
        SELECT
        id,
        title,
        content,
        create_time as createTime,
        type,
        status,
        user_id as userId
        FROM notice
        WHERE id=#{id}
    </select>

    <delete id="deleteNoticeById">
        DELETE FROM notice
        where id = #{id}
    </delete>

    <select id="selectById" resultType="com.notice.demo.pojo.entity.Notice">
        SELECT
        id,
        title,
        content,
        create_time as createTime,
        update_time as updateTime,
        type,
        status,
        user_id as userId
        FROM notice
        WHERE id=#{id}
    </select>

    <update id="updateNotice">
        UPDATE notice
        SET
        <if test="title!=null and title!=''">title=#{title},</if>
        <if test="content!=null and content!=''">content=#{content},</if>
        <if test="createTime!=null">create_time=#{createTime},</if>
        <if test="updateTime!=null">update_time=#{updateTime},</if>
        <if test="type!=null" >type=#{type},</if>
        <if test="status!=null">status=#{status},</if>
        <if test="userId">user_id=#{userId}</if>
        WHERE id = #{id}
    </update>

    <select id="selectAll" resultType="com.notice.demo.pojo.entity.Notice">
        SELECT id,
        title,
        content,
        create_time as createTime,
        status,
        type,
        update_time as updateTime,
        user_id as userId
        FROM notice
    </select>

    <select id="selectByType" resultType="com.notice.demo.pojo.entity.Notice">
        SELECT id,
        title,
        content,
        create_time as createTime,
        status,
        type,
        update_time as updateTime,
        user_id as userId
        FROM notice
        WHERE type=#{type}
    </select>

    <select id="selectByStatus" resultType="com.notice.demo.pojo.entity.Notice">
        SELECT id,
        title,
        content,
        create_time as createTime,
        status,
        type,
        update_time as updateTime,
        user_id as userId
        FROM notice
        WHERE status=#{state}
    </select>
    <select id="selectByUserId" resultType="com.notice.demo.pojo.entity.Notice">
        SELECT id,
        title,
        content,
        create_time as createTime,
        status,
        type,
        update_time as updateTime,
        user_id as userId
        FROM notice
        WHERE user_id=#{userId}
    </select>
    <select id="selectContent" resultType="com.notice.demo.pojo.entity.Notice">
        SELECT id,
        title,
        content,
        create_time as createTime,
        status,
        type,
        update_time as updateTime,
        user_id as userId
        FROM notice
        WHERE content like CONCAT('%',#{content},'%')
    </select>
    <select id="selectTitle" resultType="com.notice.demo.pojo.entity.Notice">
        SELECT id,
        title,
        content,
        create_time as createTime,
        status,
        type,
        update_time as updateTime,
        user_id as userId
        FROM notice
        WHERE title like CONCAT('%',#{title},'%')
    </select>
</mapper>
