<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egadress0904.demo.mapper.adressMapper">
    <insert id="insertAddress">
        INSERT INTO address(
        receiver,
        address,
        email,
        mobile,
        tag
        )
        VALUES(
        #{receiver},
        #{address},
        #{email},
        #{mobile},
        #{tag}
        )
    </insert>

    <select id="selectALL" resultType="com.egadress0904.demo.pojo.VO.addressVO">
        SELECT receiver,address,mobile
        FROM address
    </select>

    <delete id="deleteById">
        DELETE FROM address
        WHERE id=#{addressId}
    </delete>

    <select id="sortAllId" resultType="java.lang.Integer">
        SELECT id FROM address
    </select>

</mapper>
